@charset "ISO-8859-1";
body
{
	background-image:url("https://images.all-free-download.com/images/graphiclarge/real_estate_sales_background_hand_houses_magnifier_icons_6834265.jpg");
	background-size: 100% ;
	background-repeat: no-repeat;
}